 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;

}
body{
    background-color: black;
}



.main{
    background-image: url("bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw); 
    height: 95vh;
    position: relative;

}
.main .box{
    background-color: rgba(0,0,0,0.69);
    width: 100%;
    height: 95vh;
    position:absolute;
    top:0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    height: 82px;
}
nav img{
    position: relative;
    z-index: 10;
    margin-top: 30px;
    
}
nav button{
    position: relative;
    z-index: 10;
}
.content{
    height:calc( 100% - 82px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:white;
    position: relative;
    z-index: 10;
    padding: 29px;
    font-family: "Poppins", sans-serif;
    gap:15px;
}

.content>:nth-child(1)
{
    text-align: center;
    justify-content: center;
    font-size: 65px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    gap:10px;
}
.content>:nth-child(2)
{
    font-size: 25px;
    font-family: "Poppins", sans-serif;

}
.content>:nth-child(3)
{
    font-size: 21px;
    font-family: "Poppins", sans-serif;

}
.separtaion{
    height:5px;
    background-color :rgb(225, 50, 50);
    border-bottom: 4px solid rgb(225, 50, 50);
    border-bottom-right-radius: 80% 100%;
    border-bottom-left-radius: 80% 100%;
}
.btn{
    position: relative;
    z-index: 10;
    padding: 7px  20px 7px 20px;
    color: rgb(204, 193, 193);
    font-weight: bold;
    border-radius: 7px;
    font-size: 18px;
    background-color: rgba(23,23,23,0.0);
    border: 1px  solid white
}
.btn-red{
    padding:  16px 81px 16px 36px;
    font-size: 25px;
    background-color: red;
    color: white;
    border: 1px solid white; 

}
.btn-red-sm{
    background-color: red;
    padding: 7px  20px 7px 20px;
    font-size: 18px;
    color:white;
}
.main input{
    
    padding:  16px 351px 16px 36px;
    background-color: rgba(23,23,23,0.7);
    font-size: 25px;
    border: 1px solid white;
    text-align: left;
   

}
/* trending now section */
.container{
    height: 400px;
    width:100%;
    max-width: 1550px;
    margin-top: 30px;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-bottom: 30px;
}
.title{
    font-size: 25px;
    color: white;
    margin-bottom: 25px;
    font-family: "Poppins", sans-serif;

}
.slider{
    display: flex;
    gap:20px;
    overflow-x: auto;
    /* scroll-snap-type: mandatory; */
    /* scrollbar-width: none; */
    
}
.slider::-webkit-scrollbar
{
    display: none;
}
.card{
    position: relative;
    flex:0 0 auto;
    height: 345px;
    scroll-snap-align: start;
    border-radius: 8px;
    overflow: visible;
    padding: 10px 15px;

}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;


}
.card:hover
{
    transform: scale(1.05);
    z-index: 10;
    box-shadow: 0px 10px 20px rgba(255 255 255 0.2) ;
}
.number
{
    position: absolute;
    bottom: 10px;
    left:-9px;
    font-size: 115px;
    color: black;
    -webkit-text-stroke: 2px white;
    font-weight: bold;
}
/* more reasons to join  */
.container2{
    height: 400px;
    width:100%;
    max-width: 1550px;
    margin-top: 30px;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-bottom: 30px;
    width:100%;
    overflow: hidden;

}
.section2{
    display: flex;
    gap:30px;
    height:400px;
    width:80vw;
    color:white
}
.card2{
    height: 280px;
    width:50vw;
    flex:10px 10px 10px 10px;
    background: linear-gradient(180deg,#1e1e3f 50% , #220222 100% );
    border-radius: 20px;
    padding : 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "Poppins", sans-serif;

    
}
.card2 p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255 255 255 0.7)
}
.smallimg{
    position: relative;
    left: 260px;
    top:20px
}
.section3{
    height: 1300px;
    max-width: 1550px;
    width: 100%;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    overflow:hidden;
    font-family: "Poppins", sans-serif;


    
}
.box2{
    position: relative;
    color: white;
    display: flex;
    background-color: rgb(58, 53, 53);
    padding: 34px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;

}

.plus
{
    position: absolute;
    right:10px;

}
.box2:hover
{
    background-color: gray;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}
.item{
    display: flex;
    flex-direction: column;
}
a{
    margin-top: 20px;
    color: rgb(187, 190, 193);
    font-size: 20px;
}
.querry{
    margin-top: 100px;
    color: rgb(187, 190, 193);
    font-size: 20px;
}
.last
{
   
    margin-top: 80px;
    justify-content: center;
    align-items: center;
}
.lastbtn{
    padding-left: 300px;
    margin-top: 20px;
}
.emai{
    padding:  16px 351px 16px 36px;
    background-color: rgba(23,23,23,0.7);
    font-size: 25px;
    border: 1px solid white;


    text-align: left;
}
.redbtn{
    padding:  16px 81px 16px 36px;
    font-size: 25px;
    background-color: red;
    color: white;
    border: 1px solid white;



}